.menu-item {
  padding: 15px;
  border: solid 1px #000;
}

.menu-button {
  float: right;
}

.menu-item button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 16px;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}
