.table-card {
  background-color:#1e90ff;
  color: white;
  width: 200px;
  height: 200px;
  margin: 10px;
  text-align: center;
  line-height: 200px;
  font-size: 30px;
  border-radius: 50%;
}

.table-number {
  margin: 0;
  padding: 0;
}

.table-number:hover {
  color: red;
}
